iframe{
    width: 100%;
    border: solid 1px #ccc;
    border-radius: 5px;
}

#post-entries{
    text-align: justify;
}

#post-entries .post-entry{
    padding: 5px 0;
}

#post-entries .post-entry .date{
    float: right;
}

#post-entries .post-entry .title{
    font-weight: bold;
}

.post-content{
    font-size: 1.2em;
    line-height: 1.7em;
}

#links{
    padding: 10px 0;
    margin: 5px 0;
    border-bottom: 1px solid #ccc;
}

#links .link{
    padding: 0 5px;
}

#links .link:first-child{
    padding-left: 0;
}

#links .link:last-child{
    padding-right: 0;
}

.footer{
    text-align: center;
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
    border-top: solid 1px #ccc;
}
